@import url("https://fonts.googleapis.com/css?family=Cute+Font");

h1 {
  color: rgb(64, 128, 165);
  text-shadow: 4px 4px black;
  font-size: 650%;
  font-family: 'Cute Font', cursive;
  border: inset black 4px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  background-image: url("../img/banner.png");
  background-position: 400px;
}

li {
  display: inline;
  margin-right: 10px;
  font-family: 'Cute Font', cursive;
  font-size: 300%;
  padding-right: 10px;
  padding-left: 40px;
}

nav {
  background-image: url("../img/nav-img.jpg");
  border-style: inset;
  border-width: 4px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: black;*/
}

/*unvisited link*/
a:link {
  color: black;
  text-decoration: none;
  background-image: url("../img/nav-img.jpg");
}

/* mouse over link*/
a:hover {
  color: black;
}

/* selected link*/
a:active {
  color: rgb(21, 61, 170);
}
/* visisted link*/
a:visited {
  text-decoration: none;
  color: darkcyan;
}

body {
  background-image: url("../img/sunrise-pixel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

P {
  color: whitesmoke;
}