h1 {
  color:rgb(18, 15, 189);
  font-size: 400%;
  background-color: rgb(74, 117, 236);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: inset black 4px;
}

li {
  display: inline;
  margin-right: 10px;
  font-family: 'Arial Narrow Bold', sans-serif;
  font-size: 200%;
}

nav {
  background-color:rgb(30, 84, 233);
  border-style: inset;
  border-width: 4px;
  border-top-width: 0px;
  border-color: black;
}

body {
  background-color: goldenrod;
}